@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body {
    font-family: 'Roboto Slab', serif;
}

div {
    padding: .5em;
    margin: .5em;
    box-shadow: 0 0 5px 3px #ccc;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

#marco, #song {
    width: 350px;
}

.labels {
    margin: 5px;
}
