@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body {
    font-family: 'Roboto Slab', serif;
}

h1 {
    text-align: center;
}

div {
    padding: .5em;
    margin: .5em;
    box-shadow: 0 0 5px 3px #ccc;
    border-radius: 15px;
}

button {
    width: 70px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.hideDiv {
    width: 150px;
    height: 90px;
    background-color: #fd131f;
}

footer {
    clear: both;
}

#play {
    background-color: #000000;
    width: 300px;
    height: 125px;
}
#play > p {
    font-size: 14pt;
    font-weight: 600;
    padding: 20px;
}

