@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.container {
    box-shadow: 2px 2px 5px 3px #878787;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}

h1 {
    text-align: center;
}

.ui-widget-header {
    background: #afb5b2;
    color: #c7c7c7;
    font-weight: bold;
    border: 3px inset #bfbfbf;
}

