@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);
body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

div {
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}

#d1, #d3, #d5 {
    height: 200px;
    width: 200px;
    background-color: #fd131f;
}

#d2, #d4, #d6 {
    height: 50px;
    width: 50px;
    background-color: #000000;
}

#d4 {
    margin-top: 40px;
}

.container {
    width: 500px;
    height: 250px;
}

#L1, #L2 {
    height: 50px;
    width: 50px;
    background-color: #6f9dc7;
    font-size: 16pt;
}

#R1, #R2 {
    height: 100px;
    width: 100px;
    background-color: #fd131f;
    font-size: 16pt;
}

#L1, #L2, #R1, #R2 {
    float: left;
}

#L1.hover {
    background-color: #f9eefd;
}

article {
    height: 150px;
    width: 150px;
    background-color: #0861fe;
}

section {
    height: 200px;
    width: 200px;
}

nav {
    background-color: #0861fe;
    color: #fefefe;
}

a:link {
    font-size: 14pt;
    color: #ffffff;
}

.resize {
    background-color: #000fff;
    height: 40px;
    width: 70px;
    display: inline-block;
}

li {
    font-size: 15pt;
    margin: 2px 0;
}

.ui-widget-content {
    background: #0861fe;
    border: 1px solid #DDDDDD;
    color: #fefefe;
}

#select .ui-selected {
    background: #EEEEEE;
    color: #000000;
}

.highlight {
    font-weight: bold;
    background-color: #636579;
    color: #000000;
}