@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300);

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

div {
    box-shadow: 0 0 5px 3px #cccccc;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

p > span {
    color: #16b127;
}

#setVal {
    margin-bottom: 10px;
}

#warrior {
    height: 200px;
    width: 200px;
    background-color: #000fff;
}

#activateToggle {
    width: 80px;
}

.toggleClass {
    background-color: #1735c7;
    height: 20px;
    width: 20px;
}

#changeUp {
    text-align: left;
}