body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.container {
    box-shadow: 2px 2px 5px 3px #878787;
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}

h1 {
    text-align: center;
}

header {
    background-color: #FFC;
    height:175px;
    width: 400px;
    margin: auto;
    padding: 0;
}

.class1 {
    width:960px;
}

.class2 {
    background-color: #F96;
}

.class3 {
    border: 2px solid blue;
}

#div-animate {
    background-color: #F0F;
    height: 120px;
    width: 120px;
}

.class4 {
    background-color: #0FF;
}