body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5px;
    margin: .5em;
    padding: .5em;
}

h1 {
    text-align: center;
}

header {
    background-color: #FFC;
    height: 175px;
    width: 400px;
    margin: auto;
    padding: 0;
}

#new-class {
    text-align: center;
    font-weight: bold;
}

.class1 {
    width: 960px;
}

.class2 {
    background-color: #F96;
}

.class3 {
    border: 2px solid blue;
}

#div-animate {
    background-color: #F0F;
    height: 120px;
    width: 120px;
}

.content {
    margin: auto;
    padding: 0;
}

.ui-widget-header {
    background-color: #858585;
    height: 90%;
    width: 90%;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}

#topContent, #bottomContent {
    width: 200px;
    display: inline-block;
}

.wallPaper {
    background: url("../assets/moraineLake.jpg") fixed;
    color: #ffffff;
    background-size: cover;
}

.noWallpaper {
    background: linear-gradient(to right, rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2));
}

.newWallpaper {
    background: url("../assets/chicagoRiver.jpg") fixed;
    color: #ffffff;
    background-size: cover;
    margin: auto;
    padding: 0;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
    width: 65px;
    margin: 2em;
}

.toggler, .toggler1 {
    position: relative;
    width: 200px;
    height: 160px;
}

.ui-widget-content {
    width: 100px;
    position: relative;
}

#effects h3{
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

#effect, #effects {
    position: relative;
    width: 240px;
    height: 135px;
    padding: 0.4em;
}
